.App {
  text-align: center;
  max-width: 100%;
  margin: 0;
  padding: 0;
}
.app-container {
  display: flex;
  min-height: 100vh;

  margin: 0 auto;
  padding: 20px;
}

.sidebar {
  width: 250px;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  margin-left: 20px;
  text-align: left;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  text-align: left;
}

@media (max-width: 768px) {
  .app-container {
    flex-direction: column-reverse;
    padding: 10px 5px; 
  }

  .sidebar {
    width: 100%;
    margin: 0 0 15px 0; 
    padding: 0; 
    overflow-x: hidden;
  }
  .content {
    padding: 10px;
  }
  .content h2 {
    font-size: 1.2rem;
    margin-top: 0;
  }
}
